:root {
  --font-primary: "Poppins", serif;
  --font-secondary: "Carter One", serif;
  --color-extralight: #fff;
  --color-light: #ede7de;
  --color-medium: #ada499;
  --color-semibold: #013220;
  --color-bold: #1b130e;
  --color-extrabold: #000;
  --color-highlight: #e86100;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  color: var(--color-bold);
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  color: var(--color-bold);
  font-family: var(--font-primary);
  font-weight: 500;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
  font-style: italic;
}

h3 {
  font-size: 1.8rem;
}

p,
a,
input,
label,
select,
ul,
label,
span {
  color: var(--color-bold);
  font-size: 1.6rem;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input {
  border-radius: 0.75rem;
  border-style: none;
  color: var(--color-bold);
  font-family: var(--font-primary);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="date"] {
  outline: 0.1rem solid var(--color-medium);
  transition: none;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: 0.1rem solid var(--color-highlight);
  transition: none;
}

input[type="radio"] {
  accent-color: var(--color-highlight);
}

button {
  border-radius: 5rem;
  border-style: none;
  color: var(--color-extralight);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  transition: 0.25s;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.directional-btn-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0rem 1rem 0rem;
}

.back-btn {
  background-color: var(--color-extrabold);
  padding: 1.25rem 2.5rem;
}

.next-btn {
  background-color: var(--color-semibold);
  margin-top: 1rem;
  padding: 1.25rem 5rem;
}

li {
  font-weight: 400;
  list-style: none;
}

img {
  border-radius: 1rem;
  width: 100%;
}

.required {
  color: var(--color-medium);
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.bold {
  font-style: italic;
  font-weight: 600;
}
