.breed-type-card {
  border: 1px solid var(--color-medium);
  border-radius: 1rem;
  padding: 1.5rem;
}

/*.breed-type-card:hover {
  cursor: pointer;
  outline: 2px solid var(--color-medium);
  transition: 0.2s;
}*/

.breed-icon {
  width: 2.4rem;
}

.breed-type-card p {
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .breed-type-card {
    padding: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
